.Format {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: grey;
    margin-left: 30px;
    width: 86%;
    top: 15px;
    height: 30px;
    user-select: none;
    padding:0 20px 0 20px;
    justify-content: space-around;
    border: 1px transparent;
    border-radius: 5px;
}

.Format button{
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border: 0;
    margin: 0 5px 0 5px;
}

.Format button:hover{
    background-color: rgb(218, 214, 214);
}

.Editor {
    position: relative;
    top: 25px;
    margin-left: 30px;
    width: 100%;
    height: 80%;
}

.Editor textarea{
    position: relative;
    width: 90%;
    height: 100%;
    resize: none;
    outline: none;
    font-size: 15px;
    background-color: rgb(160, 162, 175);
    border: 0;
    caret-color:white;
    color: white;
    line-height: 150%;
}

/*修改滚动条样式*/
.Editor textarea::-webkit-scrollbar{
    width: 12px;
}

.Editor textarea::-webkit-scrollbar-track-piece{
    background-color: rgb(141, 143, 156);
}

.Editor textarea::-webkit-scrollbar-thumb{
    background-color: rgb(119, 120, 134);
    border: transparent;
    border-radius: 10px;
}

#underline {
    text-decoration: underline;
}

#deleteline {
    text-decoration: line-through;
}

.Count {
    position: relative;
    top: 60px;
}

.Count p{
    margin: 0;
    color: white;
    font-size: 14px;
    text-align: right;
}